
html {
  background-color: #262626
  /* background-color: #a116ea */
}

.background {
   background-color: #a116ea !important;
   transition: all 1s ease-in-out;

}


body {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 50%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 50%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1)
  transition: all 1s;
}


html * {
  box-sizing: border-box
}

html {
  overflow: hidden
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100vh;
  overflow-x: scroll !important;
}

html {
  background-repeat: repeat;
  background-size: cover;
  background-position: left top
}

html * {
  background-repeat: repeat;
  background-size: cover;
  background-position: center
}


* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased
}

p {
  font-family: georgia, serif;
  font-size: 4vh !important;
  font-weight: 300;
  line-height: 1.2
}

.archive {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

button {
  margin: 0 5vw 0 3vw;
  transform: scale(1.4);
  border: 1px solid black;
}
button:hover {
  cursor: alias;

}

button {
	border: none;
    font-size: 2vh;
    line-height: 0.9em;
    text-align: center;
    color: black;
    background-color: transparent;
    padding: 0.75em 1em 1em 1em;
    border-radius: 1em;
    margin: 0 5vw 0 3vw;
    box-shadow: 10px 5px 10px black;


}
button:focus {outline:0;}

    @-webkit-keyframes color-change {
        0% { color: #FFFFFF; }
        50% { color: #FFD9D9; }
        100% { color: #FFFFFF; }
    }
    @-moz-keyframes color-change {
        0% { color: #FFFFFF; }
        50% { color: #FFD9D9; }
        100% { color: #FFFFFF; }
    }
    @-o-keyframes color-change {
        0% { color:  #FFFFFF; }
        50% { color: #FFD9D9; }
        100% { color: #FFFFFF; }
    }
    @keyframes color-change {
        0% { color: #FFFFFF; }
        50% { color: #FFD9D9; }
        100% { color: #FFFFFF; }
	}
