<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Szymon Hernik">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://live.staticflickr.com/65535/51100618767_c8583c5023_k.jpg">
    <meta name="twitter:site" content="@szymonhernik" />
    <meta name="twitter:creator" content="@szymonhernik" />
    <meta name="twitter:title" content="Call Center Blackout Point">
    <meta name="twitter:description" content="Collaborative archive of voice messages. It's a response to the fragile future for independent media in Poland and the same media's blackout that happened as a performance over a month ago.">

    <meta property="og:image" content="https://live.staticflickr.com/65535/51100618767_c8583c5023_k.jpg" />
    <meta property="og:description" content="Collaborative archive of voice messages. It's a response to the fragile future for independent media in Poland and the same media's blackout that happened as a performance over a month ago." />
    <meta property="og:title" content="Call Center Blackout Point" />


    <title>Call Center Blackout Point</title>


    <!-- <script src="script.js" charset="utf-8"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.0/lib/p5.js"></script>
    <script src="js/p5.sound.js"></script>
    <script src="js/p5.speech.js"></script>

    <script src="js/sketch.js"></script>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/master2.css">
  </head>

  <body>

  <button type="button" name="button" id="call-button">Call</button>

    <div class="archive">
      <!-- <p id="p_server"></p> -->
      <% <!-- inReturn.reverse( ) --> %>
      <% if (inReturn.length > 0) { %>
        <% inReturn.forEach(data => { %>
          <% for (var i = 0; i < data.contents.length; i++) { %>
            <p id="p_servers"><%= data.contents[i] %></p>
          <% } %>

          <!-- <p id="p_servers"><%= data.contents[1] %></p>
          <p id="p_servers"><%= data.contents[2] %></p> -->

        <% }) %>
      <% } %>

    </div>

    <a href="https://gossipsweb.net"><img src="https://gossipsweb.net/images/twwmwh-gray.jpg" alt="This website was made with hands." style="height: 43px; border: 1px solid #000;" /></a>




  </body>
</html>
